//- index.pug
extends layout.pug

block content
    a(href='login') Login
    .tagline transcription for paleographical and editorial notation
        #projects
            #requestAccount
                a(href='login') Request an Account
            h2 Welcome to TPEN
                h3 An Essential Tool for the Digital Humanities
                p TPEN is a web-based tool for working with images of manuscripts. Users attach transcription data (new or uploaded) to the actual lines of the original manuscript in a simple, flexible interface.
                h3 Interoperability
                ul TPEN...
                    li Is an open and general tool for scholars of 
                        span.loud(title='Choose to use XML coding assistance or just start typing') any technical expertise level
                    li Allows transcriptions to be 
                        span.loud(title='Use an expanding set of tools or load your own') created, manipulated, and viewed in many ways
                    li
                        span.loud(title='Create teams of scholars to divide up a complex project') Collaborate with others through simple project management
                    li
                        span.loud(title='Take your data with you or let us serve it up as needed') Exports transcriptions as a pdf, XML(plaintext) for further processing, or contribute to a collaborating institution with a click
                    li Respects 
                        span.loud(title='A simple data structure allows for exchange without a hassle') existing and emerging standards for text, image, and annotation data storage
                    li Avoids prejudice in data, allowing users to 
                        span.loud(title='Record only annotations on a map image or use the line detection to make translations of poetry more meaningful . . .') find new ways to work
    #footer
        a(href='about.jsp') About TPEN
        a(href='about.jsp') Contact Us