html {
    background-color: rgb(100, 230, 250);
    color:rgb(50, 25, 0);
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

osd {
    display: block;
    width: 100vw;
    overflow: visible;
    transition: all .5s;
}
[deer-template='selected']{
    display: flex;
}
[deer-template='selected'] img {
    width:100%;
    flex-grow: 1;
}